.announce__item {
	width: 530px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #E8E8E8;
}

.announce__item .news__title {
	width: auto;
	margin-bottom: 30px;
}

.affiche__item {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #E8E8E8;
}

.affiche__item .news__title {
	width: auto;
	margin-bottom: 30px;
}

.affiche__place {
	position: relative;
	padding-left: 25px;

	&::before {
		content: url('../../img/svg/geo-big.svg');
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
		height: 18px;
	}
}

@media (min-width: 320px) and (max-width: 575px) {
	.announce__item {
		width: 100%;
		padding-right: 25px;
		padding-left: 25px;
	}

	.news__title-link {
		font-size: 16px;
		line-height: 18px;
	}

	.affiche__item {
		width: 100%;
		padding-right: 25px;
		padding-left: 25px;
	}

	.small-1 {
		font-size: 9px;
	}

	.affiche__item .news__data {
		padding: 0;
		&::before {
			display: none;
		}
	}

	.affiche__item .affiche__place {
		padding: 0;
		&::before {
			display: none;
		}
	}
}