.gallery-innner {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #E5E5E5;
}

.gallery-innner-title {
	font-weight: 900;
	font-size: 32px;
	line-height: 42px;
	letter-spacing: 0.1px;
	color: #15191D;
}

.gallery-innner p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #52575C;
}

.gallery-inner__slider-item {
	box-sizing: border-box;
	width: 1135px;
	max-height: 569px;
	padding-right: 10px;
	padding-left: 10px;
}

.gallery-innner--amount {
	position: relative;
	padding-left: 25px;

	&::before {
		content: url('../../img/svg/copy.svg');
		position: absolute;
		top: 0;
		left: 0;
	}
}