.important-information__title-container {
	background-color: #15191D;
}

.important-information__title-container .wrapper {
	display: flex;
	justify-content: space-between;
}

.important-information__title {
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 900;
	font-size: 32px;
	line-height: 42px;
	letter-spacing: 0.1px;
	color: #FFFFFF;
}

.important-information__buttons-container {
	display: flex;
	align-items: center;
	position: absolute;
	top: -85px;
	right: 0;
}

.infromation__img-container-img-container {
	width: 100%;
	height: 550px;
	background-image: url('../../img/dron.jpg');
	background-size: cover;
}