.infromation {
	padding-top: 60px;
	padding-bottom: 60px;
}

.infromation .wrapper {
	display: flex;
	justify-content: space-between;
}

.infromation__container {
	width: 550px;
}

.infromation__text {
	width: 528px;
}

.infromation__title {
	font-weight: 300;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 0.2px;
	color: #15191D;
}

.information__text {
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.1px;
	color: #52575C;
}

@media (max-width: 1140px) {
	.infromation .wrapper {
		box-sizing: border-box;
		padding: 0 25px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.infromation__container {
		width: 100%;
	}

	.infromation__text {
		width: 100%;
	}
}

@media (min-width: 320px) and (max-width: 575px) {
	.infromation {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.infromation .wrapper {
		padding: 0;
	}

	.infromation__text {
		padding: 0 25px;
	}

	.infromation__title {
		font-size: 16px;
		line-height: 18px;
	}

	.information__text {
		font-size: 12px;
		line-height: 18px;
	}
}