.links {
	padding-bottom: 65px;
}

.links__title-container.wrapper {
	display: flex;
	justify-content: space-between;
}

.links .wrapper {
	overflow: hidden;
	white-space: nowrap;
}

.links__title {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 50px;
	font-weight: 900;
	font-size: 32px;
	line-height: 42px;
	letter-spacing: 0.1px;
	color: #15191D;
}

.links__item {
	display: inline-block;
	vertical-align: top;
	white-space: pre-wrap;
	box-sizing: border-box;
	padding: 30px 120px 30px 30px;
	margin-right: 20px;
	width: 315px;
	min-height: 188px;
	border: 1px solid #CACCCF;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #52575C;
	&:hover {
		background-color: #186490;
		background-image: url(../../img/svg/link_icon.svg);
		background-repeat: no-repeat;
		background-position: 90% 90%;
		color: #ffffff;
	}
	&:active {
		background-color: #0C4D73;
	}
}

@media (max-width: 1140px) {
	.links .wrapper {
		box-sizing: border-box;
		width: 100%;
		padding: 0 25px;
	}

	.important-information__buttons-container {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 575px) {
	.links {
		padding-top: 25px;
		padding-bottom: 60px;
	}

	.links__title-container.wrapper {
		padding: 0;
	}

	.links__item {
		width: 216px;
		padding-right: 5px;
	}

	.links__title {
		font-size: 18px;
		line-height: 20px;
		margin: 0;
		margin-bottom: 30px;
	}
}

