.map {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #F9F9FA;
}

.map .wrapper {
	display: flex;
	justify-content: space-between;
}

.map__list {
	padding: 0;
	margin: 0;
}

.map__item {
	padding: 25px 5px;
	list-style: none;
}

.map__link {
	font-weight: 300;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 0.2px;
	color: #52575C;

	&:hover {
		color: #186490;
	}

	&:active {
		color: #0C4D73;
	}
}