.navigation {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #15191D;
	color: #ffffff;
	border-bottom: 1px solid #2A2E32;
	z-index: 2;
}

.navigation__container {
	display: flex;
	justify-content: flex-end;
	width: 152px;
	padding-left: 15px;
	border-left: 1px solid #2A2E32;
	display: flex;
	align-items: center;
}

.navigation__search-icon {
	width: 18px;
	height: 18px;
	margin-right: 18px;
	cursor: pointer;
}

.navigation__user-icon {
	width: 18px;
	height: 18px;
}

.navigation__logo-container {
	display: flex;
	align-items: center;
	width: 155px;
	border-right: 1px solid #383B3F;
	padding-right: 12px;
}

.navigation .wrapper {
	display: flex;
	justify-content: space-between;
}

.navigation__title {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	text-align: right;
	font-style: normal;
	font-weight: 300;
	font-size: 9px;
	line-height: 12px;
	letter-spacing: 0.2px;
}

.navigation__logo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
	width: 27px;
	height: 46px;
}

.navigation__logo-container--footer {
	position: relative;

	padding-right: 40px;
	padding-top: 69px;

	border-right: 1px solid #2F3337;
}

.navigation__link--footer {
	position: absolute;
	top: 64px;
	right: 15px;
}

.navigation__title--footer {
	width: 118px;
	margin: 0;
	margin-right: 11px;
	font-weight: 300;
	font-size: 9px;
	line-height: 12px;
	text-align: right;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.navigation__logo--footer {
	display: block;
	width: 27px;
	height: 46px;
}

