.npa {
	padding-top: 60px;
	padding-bottom: 50px;
	background-color: #F9F9FA;
}

.npa__item {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom:  1px solid #E8E8E8;
	&:last-child {
		border-bottom:none
	}
}

.npa__item-title {
	font-weight: 300;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 0.2px;
	color: #15191D;
	margin: 0;
	margin-bottom: 27px;
}

.npa__item-title a {
	cursor: pointer;
	&:hover {
		color: #186490;
	}

	&:active {
		color: #0C4D73;
	}
}

.npa #tabs {
	background-color: #F9F9FA;
}

@media (min-width: 320px) and (max-width: 575px) {
	.npa__item-title {
		font-size: 18px;
		line-height: 20px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.npa__item {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}