.open-news__title {
	margin-top: 25px;
	margin-bottom: 64px;
	width: 781px;
}

.open-news {
	background-color: #F9F9FA;
	padding-top: 35px;
	padding-bottom: 75px;
}

.open-news__print-container {
	display: flex;
	align-items: center;
	margin-left: auto;
	cursor: pointer;

	&:hover >  .open-news__print-icon path {
		stroke: #186490
	}

	&:hover >  .open-news__print-icon rect {
		stroke: #186490
	}
	
	&:hover >  .print-button {
		color: #186490;
	}
}

.open-news__print-icon {
	margin-right: 5px;
}

.print-button {
	font-weight: 500;
	font-size: 12x;
	line-height: 16px;
	letter-spacing: 0.2px;
	color: #A0A4A8;

	&:hover {
		color: #186490;
	}
}

.open-news__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #52575C;
}

.open-news__quote {
	font-style: normal;
	font-weight: 300;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 0.2px;
	color: #15191D;
}

.open-news__quote-sign {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: right;
	letter-spacing: 0.1px;
	color: #52575C;
}

.open-news__additional img {
	display: inline-block;
	vertical-align: middle;
	width: 557px;
	height: 395px;
}