#slider {
	max-height: 500px;
}

.first-screen {
	position: relative;
	max-height: 500px;
}

.gray {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #15191D;
	opacity: 0.8;
	z-index: 1;
}

 .slider__text-content {
	 position: relative;
	 width: 630px;
	 padding-bottom: 90px;
	 z-index: 2;
}

.first-screen__slider-img {
	position: absolute;
	top: 0;
	left: 0;
}

.slider__title {
	margin: 0;
	font-size: 52px;
	font-weight: 300;
	line-height: 54px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.slider__description {
	margin-top: 17px;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #CACCCF;
	width: 480px;
}

.slider__text {
	display: flex;
	padding: 16px 0;
	justify-content: center;
	transition: all 0.25s;
}

.slider__button {
	position: relative;
	overflow: hidden;
	display: block;
	padding: 0 5px;

	width: 200px;

	background: #186490;
	border-radius: 1px;

	text-align: center;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
	&::after {
		content: url(../../img/svg/arow_right.svg);
		position: absolute;
		top: 17px;
		right: -17px;
	}
	&:active {
		background-color: #0C4D73;
	}
	&:hover > .slider__text{
		display: inline-block;
		transform: translateX(-50px);
		width: 100%;
	}
}

.slider__button:hover:after {
	transition: all 0.25s;
	transform: translateX(-30px);
}

.slider__item {
	position: relative;
	background-image: url(../../img/Operativka_1.jpg);
	background-size: cover;
	height: 500px;
}

#slider .slick-dots {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 16px;
	z-index: 2;
}

#slider .slick-dots li {
	padding: 0;
	width: 4px;
	height: 4px;
}

#slider .slick-dots li button:before {
	content: '';
	width: 4px;
	height: 4px;
	background-color: #FFFFFF;
}


#slider .slick-next {
	right: 0;
	width: 200px;
	height: 500px;

	&:hover {
		background: linear-gradient(270deg, #15191D 0%, rgba(21, 25, 29, 0) 100%);
		opacity: 0.8;
	}

	&::before {
		content: url('../../img/svg/slider-arrow.svg');
		position: absolute;
		top: 45%;
		left: 50%;
		width: 30px;
		height: 30px;
		opacity: 0.6;
	}
}

#slider .slick-next:hover::before {
	opacity: 1;
}

#slider .slick-slide {
	display: flex;
	height: 500px;
}

.slick-slide .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.progressBarContainer {
	position: absolute;
	top: 8px;
	left: -30px;
}

.item {
	width: 2px;
	height: 90px;
	background-color: rgba(202, 204, 207, 0.4);
}

.progressBar {
	display: flex;
	width: 100%;
	height: 1%;
	background-color: #fff;
}


@media (min-width: 320px) and (max-width: 575px) {
	.progressBarContainer {
		display: none;
	}

	.slider__text-content {
		width: 270px;
		padding-bottom: 40px;
		padding-top: 20px;
	}
	
	.slider__title {
		width: 270px;
		margin-bottom: 20px;
		font-weight: 300;
		font-size: 20px;
		line-height: 22px;
		letter-spacing: 0.2px;
	}

	.slider__description {
		display: none;
	}

	.slider__button {
		width: 98%;
	}

	#slider .slick-slide {
		height: 370px;
	}

	#slider .slick-next {
		position: absolute;
		width: 0px;
		height: 0px;
		&::before {
			display: none;
		}
	}
}