.top-contact {
  display: flex;
  padding: 12px 0;
  background-color: #15191D;
  color: #A0A4A8;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #2A2E32;
  }

  .top-contact__container {
    display: block;
  }
  
  .top-contact a {
    color: #A0A4A8;
  }
  
  .top-contact .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .top-contact__social {
    margin-right: 44px;
    text-transform: uppercase;
  }
  
  .top-contacts__adres {
    margin-right: 11px;
    position: relative;
  }
  
  .top-contacts__adres::before {
    content: url('../../img/svg/location.svg');
    position: absolute;
    top: 0px;
    left: -15px;;
  }
  
  .top-contact__phone {
    position: relative;
  }
  
  .top-contact__phone::before {
    content: url('../../img/svg/phone.svg');
    position: absolute;
    top: 0;
    left: -15px;
  }
  
  .top-contact__working-hours {
    position: relative;
  }
  
  .top-contact__working-hours::before {
    content: url(../../img/svg/clock.svg);
    position: absolute;
    top: 0;
    left: -13px;
  }
  
  a.visually-impaired {
    color: #F9F9FA;
    text-transform: uppercase;
      
  }